body {
    -webkit-transition: background .75s ease-out;
    -moz-transition: background .75s ease-out;
    -ms-transition: background .75s ease-out;
    -o-transition: background .75s ease-out;
    transition: background .75s ease-out;

    text-align: center;
    padding-top: 10em;
}

#time {
    text-shadow: 1px 1px 3px #fff,
                -1px -1px 4px #222,
                0px 0px 1px #fff
                ;
    color: #fff;
    font-size: 10em;
}